<div class="container">
  <div class="jumbotron">
    <h1 class="display-1">Bim's Burger Stand!<span><img src="/assets/img/bim.png" class="bim-pic" height="225" width="150" alt="bimmy"></span></h1>
    <h4>Bim is a classic girl that loves a good burger. She's happy to cook up whatever you want. Just let her know!</h4>
  </div>

  <div>
    {{!-- Menu of available burgers --}}
    <div class="current-burger">
      <h3 class="text-center">TODAY'S MENU ITEMS</h3>
      {{!-- Eaches over the burgers table, gets burgers where "devoured" is set to false and displays them with a burger icon and --}}
      {{!-- a "Devour it!" button. If the "Devour it!" button is clicked, that burger's "devoured" setting will be changed to true in the database and --}}
      {{!-- it will be moved into the Devoured Items menu --}}
      {{#each burgers}}{{#unless this.devoured}}
      {{!-- In order to get the PUT method to work here, I had to make this a form which made rendering the css properly difficult --}}
      {{!-- Additionally, after trying a bunch of different ways, I imported an npm package called "method override" to get this to work here  --}}
          <form class="form-inline" action="/{{this.id}}?_method=PUT" method="POST">
          <img src="/assets/img/burger.png" class="burger-img" height="40" width="40" alt="burger">{{burger_name}}
          <button type="submit" class="btn btn-success">Devour It!</button>
          </form>
      {{/unless}}{{/each}}
    </div>
    {{!-- <div class="col-1"></div> --}}
    {{!-- Menu of devoured burgers. Eaches over the burgers table, gets burgers where "devoured" is set to true and displayes them with strikethrough --}}
    {{!-- text and a black and white burger icon --}}
    <div class="current-burger devoured">
      <h3 class="text-center h3">DEVOURED ITEMS</h3>
      {{#each burgers}}{{#if this.devoured}}
        <div>
          <h4><span><img src="/assets/img/bwburger.png" class="burger-img" height="40" width="40" alt="burger"></span>{{burger_name}}</h4>
        </div>
      {{/if}}{{/each}}
    </div>
  </div>
{{!-- Input to order a tasty burger. Adds the input burger to the burgers table in the database. --}}
<div class="row">
<div class="col-12 text-center">
  <h2 class="text-white">Order A Tasty Burger!</h2>
    <form action="/" method="POST">
      <input type="text" id="name" name="burger_name" placeholder="Tasty Burger Name Here">
      <button type="submit" class="btn btn-success">Order The Burger</button>
    </form>
  </div>
</div>
